.main_page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.products_table .MuiDataGrid-topContainer .MuiDataGrid-columnHeaders div,
.products_table .MuiDataGrid-footerContainer {
  background-color: aquamarine;
}

.products_table .MuiDataGrid-virtualScrollerContent,
.products_table .MuiDataGrid-filler {
  background-color: rgb(247 242 242);
}

.image_dialog .image_dialog_content {
  margin: 1.5rem;
}

.image_dialog .image_dialog_actions .image_dialog_button {
  width: 100%;
  background-color: aquamarine;
  color: #242323;
}